* {
  font-size: 14px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.list-page .list-page {
  position: relative;
  height: 100vh;
}

.list-page .header {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 49px;
  padding: 0 20px;

  font-size: 16px;
  font-weight: 700;

  border-bottom: 1px solid rgba(34, 34, 34, 0.1);
}

.list-page .slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  user-select: none;
  margin: 54px 16px;
}

.list-page .slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
  outline: none;
}

.list-page .slick-initialized .slick-slide {
  display: block;
}

.list-page .slick-dots {
  position: absolute;
  top: -31px;
  display: block;
  width: 100%;
  padding: 0;
  list-style: none;
  text-align: center;
  margin: 0;

  display: flex;
  align-items: center;
  justify-content: center;
}

.list-page .slick-dots li {
  flex-shrink: 0;

  position: relative;
  transition: all 0.2s ease-in-out;
  padding: 6px 16px;
  border: 1px solid #e1e1e1;
  color: #222222;
  cursor: pointer;
  border-radius: 3px;
}

.list-page .slick-dots li + li {
  margin-left: 8px;
}

.list-page .slick-dots li.slick-active {
  background: #38b4e8;
  color: #fff;
  border: none;
}

.list-page .slick-arrow {
  display: none !important;
}

.list-page .slick-list {
  overflow: hidden;
}

.list-page .tab-page {
  margin-top: 17px;
  height: 100%;
}

.list-page .list-item {
  display: flex;
  align-items: center;

  padding: 16px;
}

.list-page .list-item-checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.list-page .list-item-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.list-page .list-item-checkbox .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  width: 18px;
  height: 18px;
  background-color: #eee;
}

.list-page .list-item-checkbox > input:checked ~ .checkmark {
  background-color: #38b4e8;
}

.list-page .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.list-page .list-item-checkbox input:checked ~ .checkmark:after {
  display: block;
}

.list-page .list-item-checkbox .checkmark:after {
  left: 6px;
  top: 1px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.list-page .list-item-img {
  width: 70px;
  height: 70px;
  margin-left: 7px;
  flex-shrink: 0;
}

.list-page .list-item-img img {
  width: 100%;
  height: 100%;
}

.list-page .list-item-text {
  margin-left: 16px;
}

.list-page .list-item-text > p + p {
  margin-top: 4px;
}

.list-page .list-item-title {
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
}

.list-page .list-item-price {
  font-weight: bold;
  font-size: 14px;
  line-height: 14px;
  color: #38b4e8;
}

.list-page .list-item-des {
  font-size: 12px;
  line-height: 16px;
  color: #989898;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.list-page .menu {
  display: flex;
  align-items: center;
  justify-content: center;

  border-top: 1px solid #f3f3f3;

  width: 100%;
  position: fixed;
  bottom: 0;
}

.list-page .menu-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  width: 72px;
  height: 55px;
  margin-top: 4px;

  text-align: center;
  font-size: 12px;
  color: #d7dde4;
}

.list-page .menu-item-text {
  margin-top: 4px;
  font-size: 12px;
}

.list-page .menu-item svg {
  fill: #d7dde4;
}

.list-page .menu-item.active {
  color: #18a0fb;
}

.list-page .menu-item.active svg {
  fill: #18a0fb;
}

.list-page .buy-button {
  position: absolute;
  bottom: 72px;
  right: 16px;

  width: 105px;
  height: 56px;
  border-radius: 50px;
  background-color: #0136c4;
  color: #fff;

  display: flex;
  align-items: center;
  justify-content: center;
}
